.image{
    height: 70px;
    width: 70px;
    background: transparent;
}
body{
    background-color: rgb(25, 25, 25);
    padding-top: 100px;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    background: transparent;
    border: 3px solid white;
    border-radius: 50%;
    padding: 20px;
    margin-right: 50px;
    cursor: pointer;
}
.move{
    color: white;
    font-size: 2rem;
}
.score{
    margin-top: 50px;
    color: white;
    font-size: 2rem;
}
.result{
    color: white;
    font-size: 2rem;
    font-weight: bold;
}